{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="copyright-text">
                    <p>Dr.Croc Dentistry &copy; 2015 <a href="http://www.tooplate.com/view/2089-meteor" target="_parent"></a></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="social-icons">
                    <ul>
                        <li>
                            <a href="https://www.instagram.com/dr.croc_krg/"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="https://api.whatsapp.com/send?phone=77789995387"><i class="fa fa-whatsapp"></i></a>
                        </li>
                        <!-- <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-rss"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
